<!-- W noc i w dzień -->
<div class="modal fade" id="one" tabindex="-1" aria-labelledby="oneLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="oneLabel">W noc i w dzień - MU 24/7</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./1') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" download class="btn btn-success" href="/photos/uwie/p/wnoc.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" download class="btn btn-danger" href="/photos/uwie/p/wnoc.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- Jestem świątynią -->
<div class="modal fade" id="two" tabindex="-1" aria-labelledby="twoLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="twoLabel">Jestem Świątynią - MU 24/7</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./2') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" download class="btn btn-success" href="/photos/uwie/p/jestem.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" download class="btn btn-danger" href="/photos/uwie/p/jestem.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- Pieśn objawienia -->
<div class="modal fade" id="three" tabindex="-1" aria-labelledby="threeLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="threeLabel">Pieśń Objawienia - MU 24/7</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./3') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" download class="btn btn-success" href="/photos/uwie/p/godzien.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" download class="btn btn-danger" href="/photos/uwie/p/godzien.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- Dzisiaj tańczę przed Tobą -->
<div class="modal fade" id="four" tabindex="-1" aria-labelledby="fourLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="fourLabel">Dzisiaj tańczę przed Tobą - MU 24/7</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./4') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" download class="btn btn-success" href="/photos/uwie/p/dzisiaj.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" download class="btn btn-danger" href="/photos/uwie/p/dzisiaj.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- Baranku Boży -->
<div class="modal fade" id="five" tabindex="-1" aria-labelledby="fiveLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="fiveLabel">Baranku Boży - MU 24/7</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./5') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" download class="btn btn-success" href="/photos/uwie/p/baranku.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" download class="btn btn-danger" href="/photos/uwie/p/baranku.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- 22122 -->
<div class="modal fade" id="six" tabindex="-1" aria-labelledby="sixLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="sixLabel">22122 - MU 24/7</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./6') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" download class="btn btn-success" href="/photos/uwie/p/22122.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" download class="btn btn-danger" href="/photos/uwie/p/22122.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- Stwórca ziemi -->
<div class="modal fade" id="seven" tabindex="-1" aria-labelledby="sevenLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="sevenLabel">Stwórca Ziemi - MU 24/7</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./7') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" download class="btn btn-success" href="/photos/uwie/p/stworca.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" download class="btn btn-danger" href="/photos/uwie/p/stworca.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- Święty jest Pan -->
<div class="modal fade" id="eight" tabindex="-1" aria-labelledby="eightLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="eightLabel">Święty jest Pan - MU 24/7</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./8') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" download class="btn btn-success" href="/photos/uwie/p/swiety.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" download class="btn btn-danger" href="/photos/uwie/p/swiety.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- Wznoszę swe ręce -->
<div class="modal fade" id="nine" tabindex="-1" aria-labelledby="nineLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="nineLabel">Wznoszę swe ręce - MU 24/7</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./9') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" download class="btn btn-success" href="/photos/uwie/p/wznosze.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" download class="btn btn-danger" href="/photos/uwie/p/wznosze.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- Gdy nadszedł ten dzień -->
<div class="modal fade" id="ten" tabindex="-1" aria-labelledby="tenLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="tenLabel">Gdy nadszedł ten dzień - MU 24/7</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./10') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" download class="btn btn-success" href="/photos/uwie/p/gdy.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" download class="btn btn-danger" href="/photos/uwie/p/gdy.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- Już czas -->
<div class="modal fade" id="eleven" tabindex="-1" aria-labelledby="elevenLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="elevenLabel">Już czas - MU 24/7</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./11') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" download class="btn btn-success" href="/photos/uwie/p/juz.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" download class="btn btn-danger" href="/photos/uwie/p/juz.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>