<% layout('layouts/boilerplate')%>
<%- include('./gora') %>



    <% const wybranyRok = 2027 %>
    <% function pag(obecnyyRok){ %>
        <% const g = obecnyyRok+''; %>
        <% const obecnyRok = Number(`${g.slice(2,4)}`); %>
        <% //const obecnyRok = 13; %>
        <% const data = new Date().getFullYear() + '';const rokTeraz = data.slice(2, 4);%> 
        
        <% function previous (){ %>
            <% if(obecnyRok - 3 > 23){ %>
                <li class="page-item">
                    <a class="page-link" href="/artykuly/20<%= obecnyRok -3 %>" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <% } else{ %>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            <% }}; %>
        <% function minusTwo (){ %>
            <% const a = obecnyRok -2; %>
        <% if(a >= 23){ %>
            <li class="page-item minustwo"><a class="page-link" href="/artykuly/20<%= a %>"><%= `20${a}` %></a></li>
            <% } %>
        <% }; %>
        <% function minusOne(){ %>
            <% const b = obecnyRok - 1; %>
            <% if(b >= 23){ %>
            <li class="page-item minusone"><a class="page-link" href="/artykuly/20<%= b %>"><%= `20${b}` %></a></li>
            <% } %>
        <% }; %>
        <% function next (){ %>
            <% const n = obecnyRok + 3; %>
            <% if(n > rokTeraz ){ %>
                
                <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <% } else{ %>
                <li class="page-item">
                    <a class="page-link" href="/artykuly/20<%= n %>" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            <% }}; %>
        <% function plusTwo (){ %>
            <% const c = obecnyRok + 2; %>
        <% if(c <= rokTeraz){ %>
            <li class="page-item plustwo"><a class="page-link" href="/artykuly/20<%= c %>"><%= `20${c}` %></a></li>
            <% }else if(c > rokTeraz){ %>
            <li class="page-item plustwo d-none"><a class="page-link" href="/artykuly/20<%= c %>"><%= `20${c}` %></a></li>
        <% }}; %>
        <% function plusOne(){ %>
            <% const d = obecnyRok +1; %>
            <% if(d <= rokTeraz){ %>
            <li class="page-item plusone"><a class="page-link" href="/artykuly/20<%= d %>"><%= `20${d}` %></a></li>
            <% }else{ %>
            <li class="page-item d-none plusone"><a class="page-link" href="#"><%= `20${d}` %></a></li> 
        <% }}; %>
            
            
            
        
        
        
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center py-2">
                <%= previous() %>
                <%= minusTwo() %>
                <%= minusOne() %>
                <li class="page-item disabled"><a class="page-link" href="#"><%= `20${obecnyRok}` %></a></li>
                <%= plusOne() %>
                <%= plusTwo() %>
                <%= next() %>
        
            </ul>
          </nav>
        <% } %>

        <% function tresc (string, limit) {
            // Regular expression to match special characters and space at the end of the string
            var regex = /[^\w\s]|\s$/;

            
            for (let i = 0; i < 3; i++) {

                // Check if the string ends with a special character or a space
                if (regex.test(string.substring(limit-1, limit))) {
                    // Remove the special character or space from the end of the string
                    string = string.replace(regex, '');
                }
            }
            
            return string.substring(0, limit);}; %>  
        <% function tekst(str, num, link){ %> 
            <% if (str.length > num) { %>
                <%= tresc(str, num)%>... [<a href="/artykuly/<%=link%>">Przeczytaj do końca</a>]
                <% } else if (!str) {%>
                    <%} else {%>
                    <%= str %>
                <!-- </div><div class="col bm"> -->
                <% } %> 
        <% } %> 
        <% function autor(str){ %> 
            <% if (!str) { %>
                <% return } else { %> 
                <p class="d-block d-md-inline autor"><small class="text-muted"><%= str %></small></p>
                <% }}%> 
        
                
        
        
        
       <% function tytul(str, num, num2){ %> 
            <% if (str.length > num) { %>
                <span style="font-size: smaller;"><%= tresc(str, num)%>...</span>
            <% } else if (str.length > num2) { %>
                <span style="font-size: smaller;"><%= str %></span>
            <% } else if (str.length <= num2) { %>
                <%= str %>
            <% }} %>     



        <% function photo(str,alt,txt,id, ttl, aut){ %> 
            <% if (!str) { %>
                <div class="card-body">
                    <h5 class="card-title"><%= tytul(ttl, 60, 40) %></h5>
                    <h5 class="card-title"><%= autor(aut) %></h5>
                    <p class="card-text">
                        <%= tekst(txt,200,id) %>
                    </p>
            <% } else { %> 
                <img src="/dodaj/artykuly-zdjecia/<%= str %>" class="card-img-top " alt="<%= alt %> ">
                <div class="card-body">
                    <h5 class="card-title"><%= tytul(ttl, 60, 40) %></h5>
                    <h5 class="card-title"><%= autor(aut) %></h5>
                    <p class="card-text">
                        <%= tekst(txt,100,id) %>
                    </p>
                <% }}%>         
                          
        <% function checkYear(yr, yr2, artykul){if(yr === yr2){ %>

                <div class="card h-100" >
                    <%= photo(artykul.zdjecie, artykul.alt, artykul.tekst, artykul._id, artykul.tytul, artykul.autor) %> 
                    
                      <div class="text-end">
                        <div class="col invisible">.</div>                      
                        <a class="btn btn-outline-info position-absolute bottom-0 my-5 end-0 me-2" href="/artykuly/<%= artykul._id %>">Otwórz</a>
                      </div>
                    </div>
                    <div class="card-footer text-muted">
                      <%= artykul.data.getDate() %>
                      <%= monthNames[artykul.data.getMonth()] %>
                      <%= artykul.data.getFullYear() %>
                    </div>
                  </div>

        <% }else{return}} %>
        
        <%= pag(wybranyRok) %>
        <div class="container mb-3">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2">
                <% for (let artykul of artykuls.reverse()) {%>
                <div class="col">
                    <% const rok = artykul.data.getFullYear(); %>
                            <%= checkYear(wybranyRok, rok, artykul); %>
                    <div id="replaceContent" class="text-center"></div>
                    </div>
                <% }%> 
            </div>
        </div>

            


        <%= pag(wybranyRok) %>

        <script>
            const box = document.getElementById('checkForContent');
            const box2 = document.getElementById('replaceContent');
            let wybranyRok = Number('<%= wybranyRok %>');
if (box.textContent.trim() === '') {
  //alert('✅ Element is empty');
  box2.innerHTML = `<div class="row nomargin">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="card text-bg-light mb-3">
                            <div class="card-body">
                            <h5 class="card-title">Jeszcze nic tu nie ma!</h5>
                            <p class="card-text mb-0 pb-0">Wygląda na to, że w tym roku nie było jeszcze żadnego artykułu!</p><br>
                            <i class="text-secondary fa-5x mb-5 bi bi-journal-text"></i><br>
                            <p class="card-text pt-4">Zachęcamy do przeczytania artykułów z <a href="/artykuly/${wybranyRok -1}">poprzedniego roku</a>!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>`
}
// else {
//   alert('⛔️ Element is NOT empty');
// }

        </script>






  