<%# layout('layouts/boilerplate') %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title%></title>
    <link href="/photos/favicon.png" rel="shortcut icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/mystyle.css">
    <link rel="stylesheet" href="/styles/style.css"> 
    <style>
        .w{
            width: 96.5%;
        }

        .card-img-top{
            max-height: 15em;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <% function tresc (string, limit) {
        // Regular expression to match special characters and space at the end of the string
        var regex = /[^\w\s]|\s$/;

        
        for (let i = 0; i < 3; i++) {

            // Check if the string ends with a special character or a space
            if (regex.test(string.substring(limit-1, limit))) {
                // Remove the special character or space from the end of the string
                string = string.replace(regex, '');
            }
        }
        
        return string.substring(0, limit);}; %>  
    <% function tekst(str, num, link){ %> 
        <% if (str.length > num) { %>
            <%= tresc(str, num)%>... [<a target="_parent" href="/artykuly/<%=link%>">Przeczytaj do końca</a>]
            <% } else if (!str) {%>
                <%} else {%>
                <%= str %>
            <!-- </div><div class="col bm"> -->
            <% } %> 
    <% } %> 
    <% function autor(str){ %> 
        <% if (!str) { %>
            <% return } else { %> 
                <p class="d-block d-md-inline autor"><small class="text-muted"><%= str %></small></p>
            <% }}%> 
    
            
    
    
    
   <% function tytul(str, num, num2){ %> 
        <% if (str.length > num) { %>
            <span style="font-size: smaller;"><%= tresc(str, num)%>...</span>
        <% } else if (str.length > num2) { %>
            <span style="font-size: smaller;"><%= str %></span>
        <% } else if (str.length <= num2) { %>
            <%= str %>
        <% }} %>     

    <% function butto(i) { %>
        <a target="_parent" class="btn btn-outline-info position-absolute bottom-0 my-5 end-0 me-2" href="/artykuly/<%= i %>">Otwórz</a>

    <% } %>

    <% function photo(str,alt,txt,id, ttl, aut){ %> 
        <% if (!str) { %>
            <div class="card-body">
                <h5 class="card-title"><%= tytul(ttl, 100, 80) %></h5>
                <h5 class="card-title"><%= autor(aut) %></h5>
                <p class="card-text">
                    <%= tekst(txt,350,id) %>
                </p>
        <% } else { %> 
            <img src="/dodaj/artykuly-zdjecia/<%= str %>" class="card-img-top " alt="<%= alt %> ">
            <div class="card-body">
                <h5 class="card-title"><%= tytul(ttl, 100, 80) %></h5>
                <h5 class="card-title"><%= autor(aut) %></h5>
                <p class="card-text">
                    <%= tekst(txt,250,id) %>
                </p>
            <% }}%>
    <% const monthNames = ['stycznia', 'lutego', 'marca','kwietnia', 'maja', 'czerwca', 'lipca','sierpnia', 'września', 'października','listopada', 'grudnia']; %>
    <input id="searcher" class="form-control m-2 w justify-content-center" type="text" placeholder="Wpisz nazwę artykułu lub konkretnego autora..." onkeyup="sendData(this)">
    
    
    <section id="searchResults">
        <hr>
        <p class="ms-2">Najnowszy artykuł:</p>
        <div class="row nomargin">
            <div class="col-md-3 col-1"></div>
            <div class="col-md-6 col-10">
                <div class="card h-100" >
                    <%= photo(artykul_nowy.zdjecie, artykul_nowy.alt, artykul_nowy.tekst, artykul_nowy._id, artykul_nowy.tytul, artykul_nowy.autor) %> 
                    
                      <div class="text-end">
                        <div class="col invisible">.</div>                      
                        <%= butto(artykul_nowy._id) %>
                    </div>
                    </div>
                    <div class="card-footer text-muted">
                      <%= artykul_nowy.data.getDate() %>
                      <%= monthNames[artykul_nowy.data.getMonth()] %>
                      <%= artykul_nowy.data.getFullYear() %>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-1"></div>
        </div>
    </section>

   

<script>

    
    window.onload = function() {
  document.getElementById("searcher").focus();
}
    const monthNames = ['stycznia', 'lutego', 'marca','kwietnia', 'maja', 'czerwca', 'lipca','sierpnia', 'września', 'października','listopada', 'grudnia']; 

    function sendData(e) {
        let match = e.value.match(/^[AaĄąBbCcĆćDdEeĘęFfGgHhIiJjKkLlŁłMmNnŃńOoÓóPpRrSsŚśTtUuWwYyZzŹźŻżáéíóúüñ¿¡!@#$%^&*()_+-=§£§'" ]*/);
        let match2 = e.value.match(/\s*/);
        if(match2[0] === e.value){
            searchResults.innerHTML= `
        <hr>
        <p class="ms-2">Najnowszy artykuł:</p>
        <div class="row nomargin">
            <div class="col-md-3 col-1"></div>
            <div class="col-md-6 col-10">
                <div class="card h-100" >
                    <%= photo(artykul_nowy.zdjecie, artykul_nowy.alt, artykul_nowy.tekst, artykul_nowy._id, artykul_nowy.tytul, artykul_nowy.autor) %> 
                    
                      <div class="text-end">
                        <div class="col invisible">.</div>                      
                        <a class="btn btn-outline-info position-absolute bottom-0 my-5 end-0 me-2" target="_parent" href="/artykuly/<%= artykul_nowy._id %>">Otwórz</a>
                      </div>
                    </div>
                    <div class="card-footer text-muted">
                      <%= artykul_nowy.data.getDate() %>
                      <%= monthNames[artykul_nowy.data.getMonth()] %>
                      <%= artykul_nowy.data.getFullYear() %>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-1"></div>
        </div>`
            return;
        }
        if (match[0] === e.value){
            fetch('search', {
            method: 'POST',
            headers: {'Content-Type' : 'application/json'},
            body: JSON.stringify({payload:e.value})
        }).then(res => res.json()).then(data => {
            let payload = data.payload;
            searchResults.innerHTML = '';
            if(payload.length < 1){
                searchResults.innerHTML = '<div class="alert alert-danger" role="alert">Niestety! Brak wyników dla tego hasła.</div>';
                return;
            }
            payload.sort((a, b) => new Date(b.data) - new Date(a.data));
            let n = 0;
            payload.forEach((item, index) => {
                n += 1;
                if(index > -1) searchResults.innerHTML += '<hr>';
                const nowaData = new Date(item.data);
                //function addZero(i) {if (i < 10) {i = "0" + i}return i;}let h = addZero(nowaData.getHours());let m = addZero(nowaData.getMinutes());let time = h + ":" + m;
                const data = `${nowaData.getDate()} ${monthNames[nowaData.getMonth()]} ${nowaData.getFullYear()}`;
                //searchResults.innerHTML = "<hr>"
                const link = `./${item._id}`
                searchResults.innerHTML += `
                <div class="alert alert-light" role="alert">
                    <a href='${link}' class="link-dark link-hovereffect" target="_parent">${item.tytul} - ${item.autor} (${data})</a>
                </div>
                `;
                
            });
        });
        return;
        }
        searchResults.innerHTML = '';
    }

    function sendSearchPhrase(phrase) {
        const searchBar = document.getElementById('searcher');
        searchBar.value = phrase; // Set the value of the search bar
        const event = new Event('input', { bubbles: true }); // Create an 'input' event
        searchBar.dispatchEvent(event); // Trigger the 'input' event
        sendData(searchBar); // Trigger the search
}
    
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>

