<!-- Popatrz na mnie -->
<div class="modal fade" id="f1" tabindex="-1" aria-labelledby="f1Label" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="f1Label">Popatrz na mnie - Fisheclectic</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./f1') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" class="btn btn-primary" href="/photos/uwie/p/popatrz.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/popatrz.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<div class="modal fade" id="f2" tabindex="-1" aria-labelledby="f2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="f2Label">Dokąd iść - Fisheclectic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%- include('./f2') %>
            </div>
            <div class="modal-footer">
                <h5 class="text-start">Pobierz tekst!</h5>
                <div>
                    <a type="button" target="_blank" class="btn btn-primary" href="/photos/uwie/p/dokad.png" download>Pobierz PNG</a>
                    <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/dokad.pdf" download>Pobierz PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="f3" tabindex="-1" aria-labelledby="f3Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="f3Label">Minęła zima - Fisheclectic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%- include('./f3') %>
            </div>
            <div class="modal-footer">
                <h5 class="text-start">Pobierz wersję z akordami!</h5>
                <div>
                    <a type="button" target="_blank" class="btn btn-primary" href="/photos/uwie/p/minela.png" download>Pobierz PNG</a>
                    <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/minela.pdf" download>Pobierz PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="f4" tabindex="-1" aria-labelledby="f4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="f4Label">Nocne spotkanie - Fisheclectic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%- include('./f4') %>
            </div>
            <div class="modal-footer">
                <h5 class="text-start">Pobierz wersję z akordami!</h5>
                <div>
                    <a type="button" target="_blank" class="btn btn-primary" href="/photos/uwie/p/nocne.png" download>Pobierz PNG</a>
                    <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/nocne.pdf" download>Pobierz PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="f5" tabindex="-1" aria-labelledby="f5Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="f5Label">Ogród - Fisheclectic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%- include('./f5') %>
            </div>
            <div class="modal-footer">
                <h5 class="text-start">Pobierz wersję z akordami!</h5>
                <div>
                    <a type="button" target="_blank" class="btn btn-primary" href="/photos/uwie/p/ogrod.png" download>Pobierz PNG</a>
                    <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/ogrod.pdf" download>Pobierz PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="f6" tabindex="-1" aria-labelledby="f6Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="f6Label">Góra Mirry - Fisheclectic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%- include('./f6') %>
            </div>
            <div class="modal-footer">
                <h5 class="text-start">Pobierz wersję z akordami!</h5>
                <div>
                    <a type="button" target="_blank" class="btn btn-primary" href="/photos/uwie/p/gora.png" download>Pobierz PNG</a>
                    <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/gora.pdf" download>Pobierz PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="f7" tabindex="-1" aria-labelledby="f7Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="f7Label">Góra Mirry - Fisheclectic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%- include('./f7') %>
            </div>
            <div class="modal-footer">
                <h5 class="text-start">Pobierz wersję z akordami!</h5>
                <div>
                    <a type="button" target="_blank" class="btn btn-primary" href="/photos/uwie/p/juzniedlugo.png" download>Pobierz PNG</a>
                    <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/juzniedlugo.pdf" download>Pobierz PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="f8" tabindex="-1" aria-labelledby="f8Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="f8Label">Krok za krokiem - Fisheclectic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%- include('./f8') %>
            </div>
            <div class="modal-footer">
                <h5 class="text-start">Pobierz wersję z akordami!</h5>
                <div>
                    <a type="button" target="_blank" class="btn btn-primary" href="/photos/uwie/p/krok.png" download>Pobierz PNG</a>
                    <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/krok.pdf" download>Pobierz PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="f9" tabindex="-1" aria-labelledby="f9Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="f9Label">Ukochana - Fisheclectic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%- include('./f9') %>
            </div>
            <div class="modal-footer">
                <h5 class="text-start">Pobierz tekst!</h5>
                <div>
                    <a type="button" target="_blank" class="btn btn-primary" href="/photos/uwie/p/ukochana.png" download>Pobierz PNG</a>
                    <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/ukochana.pdf" download>Pobierz PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="f10" tabindex="-1" aria-labelledby="f10Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="f10Label">Pieczęć - Fisheclectic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%- include('./f10') %>
            </div>
            <div class="modal-footer">
                <h5 class="text-start">Pobierz wersję z akordami!</h5>
                <div>
                    <a type="button" target="_blank" class="btn btn-primary" href="/photos/uwie/p/pieczec.png" download>Pobierz PNG</a>
                    <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/pieczec.pdf" download>Pobierz PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>