

<div class="row row-cols-2 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="animate glow delay-ms-20 col">
      <div class="card h-100">
        <%- include('./przywodcy_folder/lukasz') %>     
    </div>
    <div class="animate glow delay-ms-22 col">
      <div class="card h-100">
        <%- include('./przywodcy_folder/ania') %>
    </div>
    <div class="animate glow delay-ms-24 col">
      <div class="card h-100">
        <%- include('./przywodcy_folder/radek') %>
    </div>
    <div class="animate glow delay-ms-26 col">
        <div class="card h-100">
          <%- include('./przywodcy_folder/ada') %>     
    </div>
    <div class="animate glow delay-ms-28 col">
        <div class="card h-100">
          <%- include('./przywodcy_folder/majkel') %>
    </div>
    <div class="animate glow delay-ms-30 col">
        <div class="card h-100">
          <%- include('./przywodcy_folder/asia') %>
    </div>
    <div class="animate glow delay-ms-32 col">
        <div class="card h-100">
          <%- include('./przywodcy_folder/renia') %>
    </div>
    <div class="animate glow delay-ms-32 col">
        <div class="card h-100">
          <%- include('./przywodcy_folder/robert') %>
    </div>
    <div class="animate glow delay-ms-32 col">
        <div class="card h-100">
          <%- include('./przywodcy_folder/bogdan') %>
    </div>
    <div class="animate glow delay-ms-32 col">
        <div class="card h-100">
          <%- include('./przywodcy_folder/modest') %>
    </div>
</div>




